.contact-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;  /* Only take the width of the content */
    padding: 20px;       /* Adjust padding inside the card */
    box-shadow: 4px 4px 10px grey;  /* Shadow inside the card */
    background-color: white;
    border-radius: 8px;
    margin: 20px auto;  /* Center the element */
  }
  
  .contact-sub {
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
  